<html>
    <meta charset="utf-8">
    <body>
        <div style="font-family: monospace;">
            {% for location in locations %}
                {{ location }}<br>
                =========================================<br>
                {% for train in locations[location] %}
                    {{ train.arrival }}/{{ train.departure }}
                    act {{ train.actual }}
                    {{ train.toc }}
                    <a href="http://www.realtimetrains.co.uk/{{ train.link }}">{{ train.headcode }}</a>
                    {{ train.origin }} to {{ train.destination }}
                    <br>
                    {{ '; '.join(train.service_details) }}
                    <br>
                    ------------------------------------------------------------<br>
                {% else %}
                No services found.<br>
                {% endfor %}
                <br><br>
            {% endfor %}
        </div>
    </body>
</html>